</div>

<div class="qMenu" style="display:none">
  <div class="qMenuCoreList">
    <ul>
      <li class="selected"><a href="">我的QB</a></li>
      <li><a href="">市场行情</a></li>
      <li><a href="">新闻资讯</a></li>
      <li><a href="">分析统计</a></li>
      <li><a href="">银河间社区</a></li>
      <li><a href="" class="iconfont icon-appcenter">应用中心</a></li>
    </ul>
  </div>
  <div class="qMenuChildList">
    <h3>我的QB</h3>
    <ul>
      <li><a href=""><em class="appIcon appIcon-1">SNB</em>超级新债通</a></li>
      <li><a href=""><em class="appIcon appIcon-2">BA</em>发行统计</a></li>
      <li><a href=""><em class="appIcon appIcon-2">BA</em>发行统计</a></li>
      <li><a href=""><em class="appIcon appIcon-3">IAS</em>资产管理系统</a></li>
      <li><a href=""><em class="appIcon appIcon-2">BA</em>发行统计</a></li>
    </ul>
    <div class="serviceLine">
      客服热线：400-609-1322
    </div>
  </div>
</div>





<script src="js/jquery-ui.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/common.js"></script>
<script src="js/icheck.min.js"></script>
<!-- <script type="text/javascript" src="js/cssrefresh.js"></script> -->

<script type="text/javascript">
$(function() {
  $(".draggable").draggable({
    	// cursor: 'move', 
      distance: 20,  
    	helper:"clone",       
      revert: 'invalid',
      revertDuration: 100,    
      opacity: 0.75,
      zIndex: 9999,
      drag: function(event, ui){
        // $(this).css("cursor","move");
      }
  });
  $('.droppable').droppable({
      accept: '.draggable',            // accept only images with class 'drg'
      activeClass: 'drp',           // add class "drp" while an accepted item is dragged
      drop: function(event, ui) {
        // after the draggable is droped, hides it with a hide() effect
        // ui.draggable.hide(100);
        $(this).siblings(".qmDialogList").append(ui.draggable.clone());
      }
    });


  //icheck
  $('input').iCheck();

  //tab highlight
  current_url=$("#current_url").html();
  $("#tabbar li a[href='/"+current_url+"']").parent().addClass("active").css("z-index","99");

  //Close Window
  $('.icon-close').on('click', function(e) {
      $.get('/popupWindow?close', function(data) {
          console.log(data);
      });
  });

});




</script>

    <script type="text/javascript">
      //   var _mfq = _mfq || [];
      //   (function () {
      //   var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
      //   mf.src = "//cdn.mouseflow.com/projects/9f17e564-1641-4d2b-b686-3b62778852fd.js";
      //   document.getElementsByTagName("head")[0].appendChild(mf);
      // })();
    </script>
</body>

</html>