<% include top %>
<% include header %>
<% include nav %>



  <!--Chart-->
    <div class="panel panel-default">
          <h2 class="panel-title">我的持仓</h2>
        <div class="panel-body">




    <div id="chart01" style="min-width: 310px; height: 400px; margin: 0 auto">
    </div>


  </div>
</div>

        

<% include bottom %>