
<script src="js/jquery-ui.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/common.js"></script>
<script src="js/highcharts.js"></script>
<script>

$(function() {
$(".draggable").draggable();
});

</script>

    <script type="text/javascript">
        var _mfq = _mfq || [];
        (function () {
        var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/9f17e564-1641-4d2b-b686-3b62778852fd.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>
</body>

</html>