<% include top %>
<% include header %>


<!---->
<div class="row tabBar">
    <div class="col-xs-18 col-sm-8 col-md-12">
       <ul class="nav nav-pills" role="tablist">
        <li role="presentation" style="position:relative;z-index:2"><a href="/">我的主页</a></li>
        <li role="presentation" class="active" style="position:relative;z-index:3"><a href="/ib">经纪商现券</a></li>
        <li role="presentation" style="position:relative;z-index:1"><a href="/sn">超级新债通<span class="badge">3</span></a></li>
      </ul>     
    </div>
</div>

<!--////////////Main Content/////////////-->

<div class="row mainContent">
  <!--Left Content-->
  <div class="col-xs-12 col-sm-6 col-md-8 leftColumn">


  <!---->
      <div class="panel panel-default">
          <h2 class="panel-title">最优报价</h2>
          <div class="panel-body">

            <div class="tabBarLv31">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">关注一组</a></li>
                <li role="presentation"><a href="#">关注二组</a></li>
                <li role="presentation"><a href="#">关注三组</a></li>
              </ul>              
            </div>
            <!---->
            <div class="filter">

              <form class="form-inline">
                <div class="checkbox">
                    <label>
                      <input type="checkbox">有效报价
                    </label>
                </div>                  
                <div class="checkbox">
                    <label>
                      <input type="checkbox">双边
                    </label>
                </div>                  
                <div class="form-group">
                  <label for="xxx">|Bid-估值|</label>
                  <input type="text" class="form-control" id="xxx">
                </div>
                <button type="submit" class="btn btn-default">筛选</button>
              </form>

              

            </div>


            <!---->


              <table class="table table-hover">
                <tr>
                  <th>方向</th>
                  <th>资产</th>
                  <th>期限</th>
                  <th>数量</th>
                  <th>价格</th>
                  <th>备注</th>
                  <th>更新时间</th>
                </tr>
                <tr>
                  <td><span class="label labelOfr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>1亿</td>
                  <td>加权</td>
                  <td></td>
                  <td>10:37:56</td>
                </tr>
                <tr>
                  <td><span class="label labelBid">收</span></td>
                  <td>线上</td>
                  <td>1天</td>
                  <td>2亿</td>
                  <td>--</td>
                  <td>押信用</td>
                  <td>10:20:09</td>
                </tr>
                <tr>
                  <td><span class="label labelBid">收</span></td>
                  <td>线上</td>
                  <td>14天</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>10:15:23</td>
                </tr>
                <tr>
                  <td><span class="label labelOfr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>8000万</td>
                  <td>加权</td>
                  <td>限直连，押AAA</td>
                  <td>09:56:56</td>
                </tr>
              </table>          
        </div>
      </div>


<!---->
  </div>
  <!--Left Content End-->

  <!--Right Side Column-->
  <div class="col-xs-12 col-sm-2 col-md-4 rightColumn">

  <!---->
      <div class="panel panel-default">
            <h2 class="panel-title">备忘录与日历</h2>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
              </li>
              <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
              </li>
            </ul>
                        
        </div>
      </div>



  </div>
  <!--Right Side Column End-->


</div>


<% include bottom %>