<% include top %>
<% include header %>
<% include nav %>



<!--////////////Main Content/////////////-->

<div class="row mainContent">
  <!--Left Content-->
  <div class="col-xs-12 col-sm-6 col-md-8 leftColumn">


  <!---->
      <div class="panel panel-default">
          <h2 class="panel-title">今日头寸</h2>
          <div class="panel-body">
            <div class="tabBarLv2">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">资金</a></li>
                <li role="presentation"><a href="#">同存</a></li>
                <li role="presentation"><a href="#">理财</a></li>
                <li role="presentation"><a href="#">票据</a></li>
                <li role="presentation"><a href="#">其他</a></li>
              </ul>              
            </div>

            <div class="filters">
              <div class="clearfix">
              <ul class="nav nav-pills pull-left">
                <li role="presentation" class="active"><a href="#">全部</a></li>
                <li role="presentation"><a href="#">出</a></li>
                <li role="presentation"><a href="#">收</a></li>
              </ul>
              <ul class="nav nav-pills pull-left">
                <li role="presentation" class="active"><a href="#">全部</a></li>
                <li role="presentation"><a href="#">大行</a></li>
                <li role="presentation"><a href="#">股份</a></li>
                <li role="presentation"><a href="#">城商</a></li>
                <li role="presentation"><a href="#">三农</a></li>
                <li role="presentation"><a href="#">基金</a></li>
                <li role="presentation"><a href="#">券商</a></li>
                <li role="presentation"><a href="#">其他</a></li>
              </ul>          
              </div>   
              <div class="clearfix"> 
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">全部</a></li>
                <li role="presentation"><a href="#">隔夜</a></li>
                <li role="presentation"><a href="#">7D</a></li>
                <li role="presentation"><a href="#">14D</a></li>
                <li role="presentation"><a href="#">21D</a></li>
                <li role="presentation"><a href="#">1M</a></li>
                <li role="presentation"><a href="#">2M</a></li>
                <li role="presentation"><a href="#">3M</a></li>
                <li role="presentation"><a href="#">6M</a></li>
                <li role="presentation"><a href="#">>1Y</a></li>
              </ul>  
              </div>
              <div class="clearfix">            
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">全部</a></li>
                <li role="presentation"><a href="#"><3千万</a></li>
                <li role="presentation"><a href="#">3-5千万</a></li>
                <li role="presentation"><a href="#">5千万-1亿</a></li>
                <li role="presentation"><a href="#">>1亿</a></li>
              </ul>   
              </div>           
            </div>
              <table class="table table-hover">
                <tr>
                  <th>方向</th>
                  <th>资产</th>
                  <th>期限</th>
                  <th>数量</th>
                  <th>价格</th>
                  <th>备注</th>
                  <th>更新时间</th>
                </tr>
                <tr>
                  <td><span class="label ofr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>1亿</td>
                  <td>加权</td>
                  <td></td>
                  <td>10:37:56</td>
                </tr>
                <tr>
                  <td><span class="label bid">收</span></td>
                  <td>线上</td>
                  <td>1天</td>
                  <td>2亿</td>
                  <td>--</td>
                  <td>押信用</td>
                  <td>10:20:09</td>
                </tr>
                <tr>
                  <td><span class="label bid">收</span></td>
                  <td>线上</td>
                  <td>14天</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>10:15:23</td>
                </tr>
                <tr>
                  <td><span class="label ofr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>8000万</td>
                  <td>加权</td>
                  <td>限直连，押AAA</td>
                  <td>09:56:56</td>
                </tr>
                <tr>
                  <td><span class="label ofr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>1亿</td>
                  <td>加权</td>
                  <td></td>
                  <td>10:37:56</td>
                </tr>
                <tr>
                  <td><span class="label bid">收</span></td>
                  <td>线上</td>
                  <td>1天</td>
                  <td>2亿</td>
                  <td>--</td>
                  <td>押信用</td>
                  <td>10:20:09</td>
                </tr>
                <tr>
                  <td><span class="label bid">收</span></td>
                  <td>线上</td>
                  <td>14天</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>10:15:23</td>
                </tr>
                <tr>
                  <td><span class="label ofr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>8000万</td>
                  <td>加权</td>
                  <td>限直连，押AAA</td>
                  <td>09:56:56</td>
                </tr>
                <tr>
                  <td><span class="label ofr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>1亿</td>
                  <td>加权</td>
                  <td></td>
                  <td>10:37:56</td>
                </tr>
                <tr>
                  <td><span class="label bid">收</span></td>
                  <td>线上</td>
                  <td>1天</td>
                  <td>2亿</td>
                  <td>--</td>
                  <td>押信用</td>
                  <td>10:20:09</td>
                </tr>
                <tr>
                  <td><span class="label bid">收</span></td>
                  <td>线上</td>
                  <td>14天</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>10:15:23</td>
                </tr>
                <tr>
                  <td><span class="label ofr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>8000万</td>
                  <td>加权</td>
                  <td>限直连，押AAA</td>
                  <td>09:56:56</td>
                </tr>
              </table>          
        </div>
      </div>


  </div>
  <!--Left Content End-->

  <!--Right Side Column-->
  <div class="col-xs-12 col-sm-2 col-md-4 rightColumn">
  <!---->
      <div class="panel panel-default">
        <div class="panel-body">
          <%= weather %>
              <div id="weather"></div>
              <div>风险来自你不知道自己正在做什么!</div>

        </div>
      </div>
      <div class="panel panel-default adBanner">
          <div class="panel-body">
          <div class="adBanner">
            <img src="img/ad02.jpg" alt="ad">
          </div>
      </div>
    </div>
  <!---->
      <div class="panel panel-default">
            <h2 class="panel-title">备忘录与日历</h2>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
              </li>
              <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
              </li>
            </ul>
                        
        </div>
      </div>
  <!--我的报价-->
    <div class="panel panel-default">
          <h2 class="panel-title">我的报价</h2>
        <div class="panel-body">

        <ul>
          <li>
            <div class="quoteModel bid">
              <span class="position">收</span>
              <span class="term">7D</span>
              <span class="type">同存</span>
              <span class="quantity">2亿</span>
              <span class="comment">限直连</span>
            </div>
          </li>
          <li>
            <div class="quoteModel ofr">
              <span class="position">出</span>
              <span class="term">1M</span>
              <span class="type">理财</span>
              <span class="quantity">2亿</span>
              <span class="comment">限直连</span>
            </div>
          </li>
          <li>
            <div class="quoteModel ofr">
              <span class="position">出</span>
              <span class="term">1D</span>
              <span class="type">线上</span>
              <span class="quantity">2亿</span>
              <span class="comment">限直连</span>
            </div>
          </li>
        </ul>

  </div>
</div>
<!--我的报价 End-->

<!--QM-->

<div class="panel panel-default qeuMessenger">
      <h2 class="panel-title">Qeu Messenger</h2>
    <div class="panel-body">
      
      <div>
        <ul>
          <li>
            <a href="" class="pull-left">李小明</a>
            <span class="time pull-right">16:35</span>
            <div class="clearfix"></div>
            <div class="con">
              hi,大家好
            </div>
          </li>
          <li>
            <a href="" class="pull-left">李小明</a>
            <span class="time pull-right">16:35</span>
            <div class="clearfix"></div>
            <div class="con">
              <div class="quoteModel ofr">
                <span class="position">出</span>
                <span class="term">7D</span>
                <span class="type">同存</span>
                <span class="quantity">2亿</span>
                <span class="comment">限直连</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
  </div>
</div>

<!--QM End-->

  </div>
  <!--Right Side Column End-->


</div>



<% include bottom %>