<% include top %>
<% include header %>
<% include nav %>



<!--////////////Main Content/////////////-->

<div class="row mainContent">
  <!--Left Content-->
  <div class="col-xs-12 col-sm-6 col-md-7 leftColumn">


  <!---->
      <div class="panel panel-default">
          <h2 class="panel-title">今日头寸<span class="titleTool pull-right"><a href=""><i class="iconfont icon-more"></i></a></span></h2>
          <div class="panel-body">
            <div class="tabBarLv2">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">资金</a></li>
                <li role="presentation"><a href="#">同存</a></li>
                <li role="presentation"><a href="#">理财</a></li>
                <li role="presentation"><a href="#">票据</a></li>
                <li role="presentation"><a href="#">其他</a></li>
              </ul>              
            </div>

            <div class="filters">
              <div class="clearfix">
              <ul class="nav nav-pills pull-left">
                <li role="presentation" class="active"><a href="#">全部</a></li>
                <li role="presentation"><a href="#">出</a></li>
                <li role="presentation"><a href="#">收</a></li>
              </ul>
              <ul class="nav nav-pills pull-left">
                <li role="presentation" class="active"><a href="#">全部</a></li>
                <li role="presentation"><a href="#">大行</a></li>
                <li role="presentation"><a href="#">股份</a></li>
                <li role="presentation"><a href="#">城商</a></li>
                <li role="presentation"><a href="#">三农</a></li>
                <li role="presentation"><a href="#">基金</a></li>
                <li role="presentation"><a href="#">券商</a></li>
                <li role="presentation"><a href="#">其他</a></li>
              </ul>          
              </div>   
              <div class="clearfix"> 
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">全部</a></li>
                <li role="presentation"><a href="#">隔夜</a></li>
                <li role="presentation"><a href="#">7D</a></li>
                <li role="presentation"><a href="#">14D</a></li>
                <li role="presentation"><a href="#">21D</a></li>
                <li role="presentation"><a href="#">1M</a></li>
                <li role="presentation"><a href="#">2M</a></li>
                <li role="presentation"><a href="#">3M</a></li>
                <li role="presentation"><a href="#">6M</a></li>
                <li role="presentation"><a href="#">>1Y</a></li>
              </ul>  
              </div>
              <div class="clearfix">            
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">全部</a></li>
                <li role="presentation"><a href="#"><3千万</a></li>
                <li role="presentation"><a href="#">3-5千万</a></li>
                <li role="presentation"><a href="#">5千万-1亿</a></li>
                <li role="presentation"><a href="#">>1亿</a></li>
              </ul>   
              </div>           
            </div>
              <table class="table table-hover table-striped">
                <thead>
                <tr>
                  <th>方向</th>
                  <th>资产</th>
                  <th>期限</th>
                  <th>数量</th>
                  <th>价格</th>
                  <th>备注</th>
                  <th>更新时间</th>
                </tr>
                </thead>
                <tr class="active">
                  <td><span class="label ofr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>1亿</td>
                  <td>加权</td>
                  <td></td>
                  <td>10:37:56</td>
                </tr>
                <tr>
                  <td><span class="label bid">收</span></td>
                  <td>线上</td>
                  <td>1天</td>
                  <td>2亿</td>
                  <td>--</td>
                  <td>押信用</td>
                  <td>10:20:09</td>
                </tr>
                <tr>
                  <td><span class="label bid">收</span></td>
                  <td>线上</td>
                  <td>14天</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>10:15:23</td>
                </tr>
                <tr>
                  <td><span class="label ofr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>8000万</td>
                  <td>加权</td>
                  <td>限直连，押AAA</td>
                  <td>09:56:56</td>
                </tr>
                <tr>
                  <td><span class="label ofr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>1亿</td>
                  <td>加权</td>
                  <td></td>
                  <td>10:37:56</td>
                </tr>
                <tr>
                  <td><span class="label bid">收</span></td>
                  <td>线上</td>
                  <td>1天</td>
                  <td>2亿</td>
                  <td>--</td>
                  <td>押信用</td>
                  <td>10:20:09</td>
                </tr>
                <tr>
                  <td><span class="label bid">收</span></td>
                  <td>线上</td>
                  <td>14天</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>10:15:23</td>
                </tr>
                <tr>
                  <td><span class="label ofr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>8000万</td>
                  <td>加权</td>
                  <td>限直连，押AAA</td>
                  <td>09:56:56</td>
                </tr>
                <tr>
                  <td><span class="label ofr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>1亿</td>
                  <td>加权</td>
                  <td></td>
                  <td>10:37:56</td>
                </tr>
                <tr>
                  <td><span class="label bid">收</span></td>
                  <td>线上</td>
                  <td>1天</td>
                  <td>2亿</td>
                  <td>--</td>
                  <td>押信用</td>
                  <td>10:20:09</td>
                </tr>
                <tr>
                  <td><span class="label bid">收</span></td>
                  <td>线上</td>
                  <td>14天</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>10:15:23</td>
                </tr>
                <tr>
                  <td><span class="label ofr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>8000万</td>
                  <td>加权</td>
                  <td>限直连，押AAA</td>
                  <td>09:56:56</td>
                </tr>
              </table>          
        </div>
      </div>


  </div>
  <!--Left Content End-->

  <!--Right Side Column-->
  <div class="col-xs-12 col-sm-2 col-md-5 rightColumn">
  <!---->
      <div class="panel panel-default">
        <div class="panel-body">
            <div id="weather"></div>
            <div style="display:none"><%- weather %></div>
            <script>
            // $(function() {
            //       var p = '<%- weather %>';// p = JSON.stringify(p);//Key中包含非法字符时反序列化的另一种形式   " + p.now.cond.code + "
            //       p = JSON.parse(p);
            //       p = p['HeWeather data service 3.0'][0];
            //       // alert(p['HeWeather data service 3.0'][0]);
            //       var m = [
            //         {"name":"&#xe603;","value":100,"cname":"晴"},
            //         {"name":"&#xe604;","value":101,"cname":"多云"},
            //         {"name":"&#xe60c;","value":305,"cname":"小雨"},
            //         {"name":"&#xe61b;","value":502,"cname":"霾"},
            //         {"name":"&#xe606;","value":300,"cname":"阵雨"},
            //         {"name":"&#xe605;","value":104,"cname":"阴"},
            //         {"name":"&#xe607;","value":302,"cname":"雷阵雨"},
            //         {"name":"&#xe610;","value":400,"cname":"小雪"},
            //         {"name":"&#xe60f;","value":407,"cname":"阵雪"},
            //         {"name":"&#xe618;","value":501,"cname":"雾"},
            //         {"name":"&#xe60b;","value":404,"cname":"雨夹雪"},
            //         {"name":"&#xe609;","value":403,"cname":"暴雪"},
            //         {"name":"&#xe60d;","value":310,"cname":"暴雨"},
            //         {"name":"&#xe614;","value":306,"cname":"中雨"},
            //         {"name":"&#xe611;","value":402,"cname":"大雪"},
            //         {"name":"&#xe60a;","value":307,"cname":"大雨"},
            //         {"name":"&#xe615;","value":401,"cname":"中雪"},
            //         {"name":"&#xe60e;","value":311,"cname":"大暴雨"},
            //         {"name":"&#xe616;","value":312,"cname":"特大暴雨"},
            //       ];
            //       $.each(m, function(index,item){
            //         if(item.value == p.now.cond.code){
            //           n = item.name;
            //           return false;
            //         }
            //       });
            //       $('#weather').html("<div class='weatherIcon'><i class='iconfont'>" + n + "</i></div><div class='weatherTmp'>" + p.now.tmp + "℃</div><div class='clearfix'></div><div class='weatherCond'><span>"+ p.now.cond.txt +"</span>&nbsp;&nbsp;<span>" + p.aqi.city.qlty + "</span></div>");

            // })
            </script>

              <div>风险来自你不知道自己正在做什么!</div>

        </div>
      </div>
      <div class="panel panel-default adBanner">
          <div class="panel-body">
          <div class="adBanner">
            <img src="img/ad02.jpg" alt="ad">
          </div>
      </div>
    </div>
  <!---->
      <div class="panel panel-default">
            <h2 class="panel-title">备忘录与日历</h2>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
              </li>
              <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
              </li>
            </ul>
                        
        </div>
      </div>
  <!--我的报价-->
    <div class="panel panel-default">
          <h2 class="panel-title">我的报价</h2>
        <div class="panel-body">

        <ul>
          <li>
            <div class="quoteModel bid draggable">
              <span class="position">收</span>
              <span class="term">7D</span>
              <span class="type">同存</span>
              <span class="quantity">2亿</span>
              <span class="comment">限直连</span>
            </div>
          </li>
          <li>
            <div class="quoteModel ofr draggable">
              <span class="position">出</span>
              <span class="term">1M</span>
              <span class="type">理财</span>
              <span class="quantity">2亿</span>
              <span class="comment">限直连</span>
            </div>
          </li>
          <li>
            <div class="quoteModel ofr draggable">
              <span class="position">出</span>
              <span class="term">1D</span>
              <span class="type">线上</span>
              <span class="quantity">2亿</span>
              <span class="comment">限直连</span>
              <span class="badge">Match</span>
              <span class="badge">被转发 12 次，收到 6 次回复</span>
            </div>
          </li>
        </ul>

  </div>
</div>
<!--我的报价 End-->

<!--QM-->

<div class="panel panel-default qeuMessenger">
      <h2 class="panel-title">Qeu Messenger<span class="titleTool pull-right"><a href="#"><i class="iconfont icon-more"></i></a></span></h2>
    <div class="panel-body">
      <div class="col-xs-12 col-sm-2 col-md-3 qmContactList">
        <div class="list-group">
          <a href="#" class="list-group-item">报价专用组<span class="badge">6</span></a>
          <a href="#" class="list-group-item active">李小明</a>
          <a href="#" class="list-group-item">王树芬</a>
          <a href="#" class="list-group-item">赵丽</a>
          <a href="#" class="list-group-item">工商银行上海</a>
          <a href="#" class="list-group-item">申万宏源</a>
        </div>
      </div>     
      <!--会话区-->
      <div class="col-xs-12 col-sm-6 col-md-9 qmConv">
        <div class="qmDialogHead">
          <a href=""><img src="img/avatar.png" class="avatar" alt="">李小明</a><a href="" class="badge"><i class="iconfont icon-dianhua"></i></a><a href="" class="badge"><i class="iconfont icon-email"></i></a>
        </div>
        <div class="qmDialogList">
        <ul>
          <li>
            <a href="" class="pull-left">李小明</a>
            <span class="time pull-right">16:35</span>
            <div class="clearfix"></div>
            <div class="con">
              hi,大家好
            </div>
          </li>
          <li>
            <a href="" class="pull-left">李小明</a>
            <span class="time pull-right">16:35</span>
            <div class="clearfix"></div>
            <div class="con">
              <div class="quoteModel ofr draggable">
                <span class="position">出</span>
                <span class="term">7D</span>
                <span class="type">同存</span>
                <span class="quantity">2亿</span>
                <span class="comment">限直连</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="qmDialogInput droppable">
        <textarea name="" id=""></textarea>
      </div>
      </div>
      <!--会话区-->
  </div>
</div>

<!--QM End-->

  </div>
  <!--Right Side Column End-->


</div>

<script>
  $('.icon-more').on('click', function(e) {
    $.get('/popupWindow?qm', function(data) {
        // 此处的callback function中的data为server返回的数据(没有数据也可)
        // alert(data);
        console.log(data);
    });
});
</script>

<% include footer %>
<% include bottom %>