<% include top %>
<% include header %>
<% include nav %>



<!--////////////Main Content/////////////-->

<div class="row mainContent">
  <!--Left Content-->
  <div class="col-xs-12 col-sm-6 col-md-8 leftColumn">

	<div class="panel panel-default draggable">
	  <div class="panel-body">

      <ul class="funcList">
        <li>
        <div class="funcIcon bgPurple">
          <svg width="40" height="40" viewBox="0 0 60 60" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(10 10) scale(0.6)">
              <rect x="13.5" y="24.305" fill="#fff" width="9" height="23.695"/>
              <rect x="3.543" y="3.333" fill="#fff" width="3.336" height="53.667"/>
              <rect x="4.336" y="53.664" fill="#fff" width="62" height="3.336"/>
              <rect x="28.5" y="21.145" fill="#fff" width="9" height="26.855"/>
              <rect x="43.5" y="11.667" fill="#fff" width="9" height="36.333"/>
            </g>
          </svg>     
        </div>
        <h3>我的关注</h3>
      </li>
        <li>
        <div class="funcIcon bgYellow">
          <svg width="40" height="40" viewBox="0 0 60 60" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(10 10) scale(0.6)">
              <rect x="13.5" y="24.305" fill="#fff" width="9" height="23.695"/>
              <rect x="3.543" y="3.333" fill="#fff" width="3.336" height="53.667"/>
              <rect x="4.336" y="53.664" fill="#fff" width="62" height="3.336"/>
              <rect x="28.5" y="21.145" fill="#fff" width="9" height="26.855"/>
              <rect x="43.5" y="11.667" fill="#fff" width="9" height="36.333"/>
            </g>
          </svg>     
        </div>
        <h3>债券价格试算</h3>
      </li>
        <li>
        <div class="funcIcon bgRed">
          <svg width="40" height="40" viewBox="0 0 60 60" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(10 10) scale(0.6)">
              <rect x="13.5" y="24.305" fill="#fff" width="9" height="23.695"/>
              <rect x="3.543" y="3.333" fill="#fff" width="3.336" height="53.667"/>
              <rect x="4.336" y="53.664" fill="#fff" width="62" height="3.336"/>
              <rect x="28.5" y="21.145" fill="#fff" width="9" height="26.855"/>
              <rect x="43.5" y="11.667" fill="#fff" width="9" height="36.333"/>
            </g>
          </svg>     
        </div>
        <h3>经纪商现券</h3>
      </li>
      </ul>

      </div>
	  </div>
  <!---->
      <div class="panel panel-default">
          <h2 class="panel-title">今日头寸</h2>
          <div class="panel-body">
            <div class="tabBarLv2">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">利率债</a></li>
                <li role="presentation"><a href="#">信用债</a></li>
                <li role="presentation"><a href="#">NCD</a></li>
              </ul>              
            </div>
            <br />
            <div class="tabBarLv31">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">关注一组</a></li>
                <li role="presentation"><a href="#">关注二组</a></li>
                <li role="presentation"><a href="#">关注三组</a></li>
              </ul>              
            </div>
            <br />
            <div class="tabBarLv32">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">发行</a></li>
                <li role="presentation"><a href="#">公告</a></li>
                <li role="presentation"><a href="#">上市</a></li>
              </ul>              
            </div>
              <table class="table table-hover">
                <tr>
                  <th>方向</th>
                  <th>资产</th>
                  <th>期限</th>
                  <th>数量</th>
                  <th>价格</th>
                  <th>备注</th>
                  <th>更新时间</th>
                </tr>
                <tr>
                  <td><span class="label labelOfr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>1亿</td>
                  <td>加权</td>
                  <td></td>
                  <td>10:37:56</td>
                </tr>
                <tr>
                  <td><span class="label labelBid">收</span></td>
                  <td>线上</td>
                  <td>1天</td>
                  <td>2亿</td>
                  <td>--</td>
                  <td>押信用</td>
                  <td>10:20:09</td>
                </tr>
                <tr>
                  <td><span class="label labelBid">收</span></td>
                  <td>线上</td>
                  <td>14天</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>10:15:23</td>
                </tr>
                <tr>
                  <td><span class="label labelOfr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>8000万</td>
                  <td>加权</td>
                  <td>限直连，押AAA</td>
                  <td>09:56:56</td>
                </tr>
              </table>          
        </div>
      </div>

  <!--Chart-->
    <div class="panel panel-default">
          <h2 class="panel-title">我的持仓</h2>
        <div class="panel-body">

    <script type="text/javascript">
    var chart_background = 'transparent';
    var chart_plot_background = '#111';
    var line_color = '#333';
    var grid_line_color = '#333';
$(function () {
    $('#chart01').highcharts({
        chart: {
            type: 'area',
            backgroundColor: chart_background,
            plotBackgroundColor : chart_plot_background
        },
        title: {
            text: '收益率曲线',
            align: 'left',
            style: {
              color: '#ffebc8',
              fontSize: '14px'
            }
            
        },
        subtitle: {
            text: '来源: <a href="http://www.sumscope.com">' + 'Quoteboard</a>',
            align: 'left',
            style: {
              color: '#ffebc8'
            }
        },
        legend: {
          itemStyle:{
              color: '#ffebc8'
          }
        },
        xAxis: {
          lineColor: line_color,
          gridLineColor: grid_line_color,
            allowDecimals: false,
            labels: {
                style:{
                  color: '#ccc'
                },              
                formatter: function () {
                    return this.value; // clean, unformatted number for year
                }
            }
        },
        yAxis: {
          lineColor: line_color,
          gridLineColor: grid_line_color,
            title: {
                text: '收益率(%)'
            },
            labels: {
                style:{
                  color: '#ccc'
                },
                formatter: function () {
                    return this.value / 1000 + 'k';
                }
            }
        },
        tooltip: {
            pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
        },
        plotOptions: {
            area: {
                pointStart: 1940,
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            name: 'USA',
            data: [null, null, null, null, null, 6, 11, 32, 110, 235, 369, 640,
                1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468, 20434, 24126,
                27387, 29459, 31056, 31982, 32040, 31233, 29224, 27342, 26662,
                26956, 27912, 28999, 28965, 27826, 25579, 25722, 24826, 24605,
                24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586,
                22380, 21004, 17287, 14747, 13076, 12555, 12144, 11009, 10950,
                10871, 10824, 10577, 10527, 10475, 10421, 10358, 10295, 10104]
        }, {
            name: 'USSR/Russia',
            data: [null, null, null, null, null, null, null, null, null, null,
                5, 25, 50, 120, 150, 200, 426, 660, 869, 1060, 1605, 2471, 3322,
                4238, 5221, 6129, 7089, 8339, 9399, 10538, 11643, 13092, 14478,
                15915, 17385, 19055, 21205, 23044, 25393, 27935, 30062, 32049,
                33952, 35804, 37431, 39197, 45000, 43000, 41000, 39000, 37000,
                35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
                21000, 20000, 19000, 18000, 18000, 17000, 16000]
        }]
    });
});
    </script>


    <div id="chart01" style="min-width: 310px; height: 400px; margin: 0 auto">
    </div>


  </div>
</div>


<!---->
  </div>
  <!--Left Content End-->

  <!--Right Side Column-->
  <div class="col-xs-12 col-sm-2 col-md-4 rightColumn">
  <!---->
      <div class="panel panel-default">
        <div class="panel-body">
              <div id="weather"></div>
              <div>风险来自你不知道自己正在做什么!</div>

        </div>
      </div>
      <div class="panel panel-default adBanner">
          <div class="panel-body">
          <div class="adBanner">
            <img src="img/ad02.jpg" alt="ad">
          </div>
      </div>
    </div>
  <!---->
      <div class="panel panel-default">
            <h2 class="panel-title">备忘录与日历</h2>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
              </li>
              <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
              </li>
            </ul>
                        
        </div>
      </div>

<!--QM-->

      <div class="panel panel-default qeuMessenger">
            <h2 class="panel-title">快讯RSS</h2>
          <div class="panel-body">

            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                  <div class="box-tools pull-right">
                    <span data-toggle="tooltip" title="3 New Messages" class="badge bg-light-blue">3</span>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <!-- Conversations are loaded here -->
                  <div class="direct-chat-messages">
                    <!-- Message. Default to the left -->
                    <div class="direct-chat-msg">
                      <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Alexander Pierce</span>
                        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                      </div><!-- /.direct-chat-info -->
                      <img src="img/avatar.png" class="avatar" width="20" alt="">
                      <div class="direct-chat-text">
                        Is this template really for free? That's unbelievable!
                      </div><!-- /.direct-chat-text -->
                    </div><!-- /.direct-chat-msg -->

                    <!-- Message to the right -->
                    <div class="direct-chat-msg right">
                      <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-right">Sarah Bullock</span>
                        <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                      </div><!-- /.direct-chat-info -->
                      <img src="img/avatar.png" class="avatar" width="20" alt="">
                      <div class="direct-chat-text">
                        You better believe it!
                      </div><!-- /.direct-chat-text -->
                    </div><!-- /.direct-chat-msg -->
                  </div><!--/.direct-chat-messages-->

                  <!-- Contacts are loaded here -->
                  <div class="direct-chat-contacts">
                    <ul class="contacts-list">
                      <li>
                        <a href="#">
                          <img src="img/avatar.png" class="avatar" width="20" alt="">
                          <div class="contacts-list-info">
                            <span class="contacts-list-name">
                              Count Dracula
                              <small class="contacts-list-date pull-right">2/28/2015</small>
                            </span>
                            <span class="contacts-list-msg">How have you been? I was...</span>
                          </div><!-- /.contacts-list-info -->
                        </a>
                      </li><!-- End Contact Item -->
                    </ul><!-- /.contatcts-list -->
                  </div><!-- /.direct-chat-pane -->
                </div><!-- /.box-body -->
                <div class="box-footer">
                  <form action="#" method="post">
                    <div class="input-group">
                      <input name="message" placeholder="Type Message ..." class="form-control" type="text">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-flat">Send</button>
                      </span>
                    </div>
                  </form>
                </div><!-- /.box-footer-->
              </div>

        </div>
      </div>

<!--QM End-->

  </div>
  <!--Right Side Column End-->


</div>



<% include bottom %>