<% include top %>
<% include header %>
<% include nav %>

    <div class="panel panel-default draggable">
      <div class="panel-body">

      <ul class="funcList">
        <li>
        <div class="funcIcon bgPurple">
          <svg width="40" height="40" viewBox="0 0 60 60" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(10 10) scale(0.6)">
              <rect x="13.5" y="24.305" fill="#fff" width="9" height="23.695"/>
              <rect x="3.543" y="3.333" fill="#fff" width="3.336" height="53.667"/>
              <rect x="4.336" y="53.664" fill="#fff" width="62" height="3.336"/>
              <rect x="28.5" y="21.145" fill="#fff" width="9" height="26.855"/>
              <rect x="43.5" y="11.667" fill="#fff" width="9" height="36.333"/>
            </g>
          </svg>     
        </div>
        <h3>我的关注</h3>
      </li>
        <li>
        <div class="funcIcon bgYellow">
          <svg width="40" height="40" viewBox="0 0 60 60" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(10 10) scale(0.6)">
              <rect x="13.5" y="24.305" fill="#fff" width="9" height="23.695"/>
              <rect x="3.543" y="3.333" fill="#fff" width="3.336" height="53.667"/>
              <rect x="4.336" y="53.664" fill="#fff" width="62" height="3.336"/>
              <rect x="28.5" y="21.145" fill="#fff" width="9" height="26.855"/>
              <rect x="43.5" y="11.667" fill="#fff" width="9" height="36.333"/>
            </g>
          </svg>     
        </div>
        <h3>债券价格试算</h3>
      </li>
        <li>
        <div class="funcIcon bgRed">
          <svg width="40" height="40" viewBox="0 0 60 60" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(10 10) scale(0.6)">
              <rect x="13.5" y="24.305" fill="#fff" width="9" height="23.695"/>
              <rect x="3.543" y="3.333" fill="#fff" width="3.336" height="53.667"/>
              <rect x="4.336" y="53.664" fill="#fff" width="62" height="3.336"/>
              <rect x="28.5" y="21.145" fill="#fff" width="9" height="26.855"/>
              <rect x="43.5" y="11.667" fill="#fff" width="9" height="36.333"/>
            </g>
          </svg>     
        </div>
        <h3>经纪商现券</h3>
      </li>
      </ul>

      </div>
      </div>

               <div>

    <style>

      .iconic-lightbulb {
        cursor: pointer;
      }

      .iconic-lightbulb * {
        -webkit-transition: .4s;
        -moz-transition: .4s;
        transition: .4s;
      }

      .iconic-lightbulb .icon-container {
        fill: #fff;
        stroke-width: 6;
        stroke: #fff;

        -webkit-transition: .3s;
        -moz-transition: .3s;
        transition: .3s;
      }

      .iconic-lightbulb:hover .icon-container {
        fill: #fff8db;

        -webkit-transition: 2s;
        transition: 2s;
        -webkit-transition: 2s;
      }

      .iconic-lightbulb .iconic-lightbulb-light * {
        stroke-width: 16;
        stroke: #ddd;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
      }

      .iconic-lightbulb:hover .iconic-lightbulb-light * {
        stroke: #fc0;
        stroke-width: 32;
      }

      .iconic-lightbulb .iconic-lightbulb-base {
        fill: #666;
      }

      .iconic-lightbulb .iconic-lightbulb-screws * {
        fill: none;
        stroke-width: 16;
        stroke: #333;
        stroke-linecap: round;
        stroke-linejoin: round;
      }

    </style>

     <svg xml:space="preserve" style="enable-background:new 0 0 714 714;" viewBox="0 0 714 714" height="300" width="300" y="0px" x="0px" xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" class="svg-inject iconic iconic-lightbulb replaced-svg" version="1.1">
  <circle fill="none" stroke="#000" stroke-width="16" r="330" cy="357" cx="357" class="icon-container"></circle>
  <g class="iconic-lightbulb-screws">
    <defs>
      <clipPath id="iconic-lightbulb-screws-clip">
        <polygon points="304.333,511 433.667,511 430,521.5 281.667,547.167 280.333,521.5"></polygon>
      </clipPath>
    </defs>
    <line y2="529" x2="302" y1="505" x1="430" clip-path="url(#iconic-lightbulb-screws-clip)"></line>
    <line y2="561" x2="302" y1="537" x1="430" class="st4"></line>
    <line y2="593" x2="302" y1="569" x1="430" class="st4"></line>
    <line y2="621" x2="322" y1="605" x1="410" class="st4"></line>
  </g>

  <g class="iconic-lightbulb-light">
    <defs>
      <clipPath id="iconic-lightbulb-light-clip">
        <polygon points="514,329 436,369 436,436 299,436 293,360 489,280"></polygon>
      </clipPath>
    </defs>
    <g clip-path="url(#iconic-lightbulb-light-clip)">
      <line y2="435" x2="330" y1="369" x1="330"></line>
      <polyline points="478,313 402,349 402,435"></polyline>
    </g>
    <line y2="233" x2="254" y1="129" x1="478"></line>
    <line y2="173" x2="254" y1="125" x1="354"></line>
    <line y2="293" x2="254" y1="189" x1="478"></line>
    <line y2="353" x2="254" y1="249" x1="478"></line>
  </g>

  <path d="M292.431,505c0.863,4.314,5.169,7.845,9.569,7.845h128c4.4,0,8.706-3.53,9.569-7.845l12.861-64.311c0.863-4.314-2.03-7.845-6.431-7.845H286c-4.4,0-7.294,3.53-6.431,7.845L292.431,505z" class="iconic-lightbulb-base"></path>
  </svg>
  </div>       

<% include bottom %>