<% include top %>
<% include header %>
<% include nav %>

    <div class="panel panel-default draggable">
      <div class="panel-body">

      <ul class="funcList">
        <li>
        <div class="funcIcon bgPurple">
          <svg width="40" height="40" viewBox="0 0 60 60" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(10 10) scale(0.6)">
              <rect x="13.5" y="24.305" fill="#fff" width="9" height="23.695"/>
              <rect x="3.543" y="3.333" fill="#fff" width="3.336" height="53.667"/>
              <rect x="4.336" y="53.664" fill="#fff" width="62" height="3.336"/>
              <rect x="28.5" y="21.145" fill="#fff" width="9" height="26.855"/>
              <rect x="43.5" y="11.667" fill="#fff" width="9" height="36.333"/>
            </g>
          </svg>     
        </div>
        <h3>我的关注</h3>
      </li>
        <li>
        <div class="funcIcon bgYellow">
          <svg width="40" height="40" viewBox="0 0 60 60" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(10 10) scale(0.6)">
              <rect x="13.5" y="24.305" fill="#fff" width="9" height="23.695"/>
              <rect x="3.543" y="3.333" fill="#fff" width="3.336" height="53.667"/>
              <rect x="4.336" y="53.664" fill="#fff" width="62" height="3.336"/>
              <rect x="28.5" y="21.145" fill="#fff" width="9" height="26.855"/>
              <rect x="43.5" y="11.667" fill="#fff" width="9" height="36.333"/>
            </g>
          </svg>     
        </div>
        <h3>债券价格试算</h3>
      </li>
        <li>
        <div class="funcIcon bgRed">
          <svg width="40" height="40" viewBox="0 0 60 60" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(10 10) scale(0.6)">
              <rect x="13.5" y="24.305" fill="#fff" width="9" height="23.695"/>
              <rect x="3.543" y="3.333" fill="#fff" width="3.336" height="53.667"/>
              <rect x="4.336" y="53.664" fill="#fff" width="62" height="3.336"/>
              <rect x="28.5" y="21.145" fill="#fff" width="9" height="26.855"/>
              <rect x="43.5" y="11.667" fill="#fff" width="9" height="36.333"/>
            </g>
          </svg>     
        </div>
        <h3>经纪商现券</h3>
      </li>
      </ul>

      </div>
      </div>

        

<% include bottom %>