<% include top %>
<style>
.panel-title{background: #0E9496;color: #fff;height:36px;line-height:36px;-webkit-app-region:drag;}
.list-group-item{background: none}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{background:#0E9496;color:#FFE9C8;}

.qmWidget .mainContent{padding-left: 250px;}
.qmNavBar{width:50px;background: #0F0F10;float: left;margin-left: -250px;}
.qmContactList{background: #0F0F10;float: left;width:200px;margin-left: -200px;}
.qmConv{float:left;padding:0;width:100%;}
.qmDialogHead{height: 60px;line-height:60px;background: #1E1E21;padding:0 15px;}
.avatar{width:36px;height:36px;margin-right:5px;}
.qmDialogList{padding: 5px}
.qmDialogList>ul>li{margin:5px 0;}
.qmDialogInput{height:40px;width: 100%;background:#222;}
.qmDialogInput textarea{height:40px;width: 100%;background:none;border:0;resize:none;}

</style>
<!--QM-->

<div class="qmWidget">
      <h2 class="panel-title">Qeu Messenger<span class="titleTool pull-right"><a href="#"><i class="iconfont icon-more"></i></a><a href="#"><i class="iconfont icon-close"></i></a></span></h2>
      <div class="mainContent">
      <div class="qmNavBar">
        <a href="#"><i class="iconfont icon-more"></i></a>
      </div>
      <div class="qmContactList">
        <div class="list-group">
          <a href="#" class="list-group-item">报价专用组<span class="badge">6</span></a>
          <a href="#" class="list-group-item active">李小明</a>
          <a href="#" class="list-group-item">王树芬</a>
          <a href="#" class="list-group-item">赵丽</a>
          <a href="#" class="list-group-item">工商银行上海</a>
          <a href="#" class="list-group-item">申万宏源</a>
        </div>
      </div>     
      <!--会话区-->
      <div class="qmConv">
        <div class="qmDialogHead">
          <a href=""><img src="img/avatar.png" class="avatar" alt="">李小明</a><a href="" class="badge"><i class="iconfont icon-dianhua"></i></a><a href="" class="badge"><i class="iconfont icon-email"></i></a>
        </div>
        <div class="qmDialogList">
        <ul>
          <li>
            <a href="" class="pull-left">李小明</a>
            <span class="time pull-right">16:35</span>
            <div class="clearfix"></div>
            <div class="con">
              hi,大家好
            </div>
          </li>
          <li>
            <a href="" class="pull-left">李小明</a>
            <span class="time pull-right">16:35</span>
            <div class="clearfix"></div>
            <div class="con">
              <div class="quoteModel ofr draggable">
                <span class="position">出</span>
                <span class="term">7D</span>
                <span class="type">同存</span>
                <span class="quantity">2亿</span>
                <span class="comment">限直连</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="qmDialogInput droppable">
        <textarea name="" id=""></textarea>
      </div>
      </div>
      <!--会话区-->
      </div>
</div>

<!--QM End-->

<script>
  $('.icon-more').on('click', function(e) {
    $.get('/popupWindow?close', function(data) {
        // 此处的callback function中的data为server返回的数据(没有数据也可)
        // alert(data);
        console.log(data);
    });
});
</script>

<% include bottom %>