<% include top %>
<% include header %>
<% include nav %>

    <div class="panel panel-default draggable">
      <div class="panel-body">


      </div>
      </div>

        

<% include footer %>
<% include bottom %>