<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><%= pagetitle %></title>
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" id="skin-css" href="css/style_white.css">
<link rel="stylesheet" href="css/icheck/style.css">
<!-- <link rel="stylesheet" href="http://at.alicdn.com/t/font_1448761492_939727.css"> -->
<!-- <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
 -->
<script src="js/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="js/echarts.min.js"></script>

<!--<script type="text/javascript">
    window.$ = window.jQuery = require('js/jquery.min.js');

// var _hmt = _hmt || [];
// (function() {
//   var hm = document.createElement("script");
//   hm.src = "//hm.baidu.com/hm.js?3a81b6ea307e13546c346fa41fb8db8c";
//   var s = document.getElementsByTagName("script")[0]; 
//   s.parentNode.insertBefore(hm, s);
// })();

</script-->


</head>

<body>
<div class="container-fluid" id="content">