<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><%= pagetitle %></title>
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/icheck/style.css">
<link rel="stylesheet" href="http://at.alicdn.com/t/font_1446341826_9063692.css">
<!-- <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
 -->
<script src="js/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
<!--<script type="text/javascript">
    window.$ = window.jQuery = require('js/jquery.min.js');
</script-->

</head>

<body>
<div class="container-fluid" id="content">