<% include top %>
<% include header %>
<% include nav %>



<!--////////////Main Content/////////////-->

<div class="row mainContent">
  <!--Left Content-->
  <div class="col-xs-12 col-sm-6 col-md-8 leftColumn">


  <!---->
      <div class="panel panel-default">
          <h2 class="panel-title">今日头寸</h2>
          <div class="panel-body">
            <div class="tabBarLv2">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">利率债</a></li>
                <li role="presentation"><a href="#">信用债</a></li>
                <li role="presentation"><a href="#">NCD</a></li>
              </ul>              
            </div>
            <br />
            <div class="tabBarLv31">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">关注一组</a></li>
                <li role="presentation"><a href="#">关注二组</a></li>
                <li role="presentation"><a href="#">关注三组</a></li>
              </ul>              
            </div>
            <br />
            <div class="tabBarLv32">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">发行</a></li>
                <li role="presentation"><a href="#">公告</a></li>
                <li role="presentation"><a href="#">上市</a></li>
              </ul>              
            </div>
              <table class="table table-hover table-striped">
                <tr>
                  <th>方向</th>
                  <th>资产</th>
                  <th>期限</th>
                  <th>数量</th>
                  <th>价格</th>
                  <th>备注</th>
                  <th>更新时间</th>
                </tr>
                <tr>
                  <td><span class="label labelOfr">出</span></td>
                  <td>线上<i class="labelIcon labelXiu">休</i></td>
                  <td>7天<i class="labelIcon labelJiang">降</i></td>
                  <td>1亿</td>
                  <td>加权</td>
                  <td></td>
                  <td>10:37:56</td>
                </tr>
                <tr>
                  <td><span class="label labelBid">收</span></td>
                  <td>线上</td>
                  <td>1天<i class="labelIcon labelTuan">团</i></td>
                  <td>2亿<i class="labelIcon labelZhu">主</i></td>
                  <td>--</td>
                  <td>押信用<i class="labelIcon labelWarning">！</i></td>
                  <td>10:20:09</td>
                </tr>
                <tr>
                  <td><span class="label labelBid">收</span></td>
                  <td>线上<i class="labelIcon labelQuan">权</i></td>
                  <td>14天</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>10:15:23</td>
                </tr>
                <tr>
                  <td><span class="label labelOfr">出</span></td>
                  <td>线上<i class="labelIcon labelFu">负</i></td>
                  <td>7天<i class="labelIcon labelKua">跨</i></td>
                  <td>8000万</td>
                  <td>加权</td>
                  <td>限直连，押AAA</td>
                  <td>09:56:56</td>
                </tr>
              </table>      

<div class="form">
  <dl>
    <dt>代码：</dt>
    <dd>
                <div class="checkbox">
                    <label>
                      <input type="checkbox">有效报价
                    </label>
                </div>   
    </dd>
    <dt>简称：</dt>
    <dd><input type="text" class="form-control" /></dd>
  </dl>
  
  <div>
    <button class="btn btn-default">确定</button>
    <button class="btn btn-default">取消</button>  
  </div>
</div>
 
        </div>
      </div>
            <div>
              <i class="iconfont icon-t"></i>
              <i class="iconfont icon-j"></i>
              <i class="iconfont icon-tongzhi"></i>
              <span style="font-size:14px;font-weight:900;color:#ffebc8">主降</span>
            </div>

            <style type="text/css">
/*  svg path.path1{fill:#333}
  svg path.path2{fill:red}
*/</style>
              <div>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-home"></use></svg>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-pen"></use></svg>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-library"></use></svg>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-qrcode"></use></svg>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-coin-dollar"></use></svg>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-location2"></use></svg>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-neutral"></use></svg>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-file-text2"></use></svg>
              </div>



<!---->
  </div>
  <!--Left Content End-->

  <!--Right Side Column-->
  <div class="col-xs-12 col-sm-2 col-md-4 rightColumn">
      <div class="panel panel-default">
          <h2 class="panel-title">标题栏</h2>
          <div class="panel-body">
            森浦以客户需求为导向，立足于固定收益及衍生品市场，专注于产品创新，在人民币交易市场为客户提供准确、专业、高效的信息服务，简化客户工作流程，帮助客户创造可持续的竞争优势。
          </div>
        </div>


  </div>
  <!--Right Side Column End-->


</div>



<% include bottom %>