<% include top %>
<% include header %>
<% include nav %>



<!--////////////Main Content/////////////-->

<div class="row mainContent">
  <!--Left Content-->
  <div class="col-xs-12 col-sm-6 col-md-8 leftColumn">
            <div class="tabBar tabBarLv2_1">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">利率债</a></li>
                <li role="presentation"><a href="#">信用债</a></li>
                <li role="presentation"><a href="#">NCD</a></li>
              </ul>              
            </div>

  <!---->
      <div class="panel panel-default">
          <h2 class="panel-title">今日头寸</h2>
          <div class="panel-body">
            <div class="tabBar tabBarLv2_2">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">债券</a></li>
                <li role="presentation"><a href="#">同存</a></li>
                <li role="presentation"><a href="#">理财</a></li>
              </ul>              
            </div>
            <br />
            <div class="tabBar tabBarLv3_1">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">关注一组</a></li>
                <li role="presentation"><a href="#">关注二组</a></li>
                <li role="presentation"><a href="#">关注三组</a></li>
              </ul>              
            </div>
            <br />
            <div class="tabBar tabBarLv3_2">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">发行</a></li>
                <li role="presentation"><a href="#">公告</a></li>
                <li role="presentation"><a href="#">上市</a></li>
              </ul>              
            </div>

        
              <table class="table table-hover table-striped">
                <tr>
                  <th>方向</th>
                  <th>资产</th>
                  <th>期限</th>
                  <th>数量</th>
                  <th>价格</th>
                  <th>备注</th>
                  <th>更新时间</th>
                </tr>
                <tr>
                  <td><span class="label labelOfr">出</span></td>
                  <td>线上<i class="labelIcon labelXiu">休</i></td>
                  <td>7天<i class="labelIcon labelJiang">降</i></td>
                  <td>1亿</td>
                  <td>加权</td>
                  <td></td>
                  <td class="reducedTxt">10:37:56</td>
                </tr>
                <tr>
                  <td><span class="label labelBid">收</span></td>
                  <td>线上</td>
                  <td>1天<i class="labelIcon labelTuan">团</i></td>
                  <td>2亿<i class="labelIcon labelZhu">主</i></td>
                  <td>--</td>
                  <td>押信用<i class="labelIcon labelWarning">！</i></td>
                  <td class="reducedTxt">10:20:09</td>
                </tr>
                <tr>
                  <td><span class="label labelBid">收</span></td>
                  <td>线上<i class="labelIcon labelQuan">权</i></td>
                  <td>14天</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="reducedTxt">10:15:23</td>
                </tr>
                <tr>
                  <td><span class="label labelOfr">出</span></td>
                  <td>线上<i class="labelIcon labelFu">负</i></td>
                  <td>7天<i class="labelIcon labelKua">跨</i></td>
                  <td>8000万</td>
                  <td>加权</td>
                  <td>限直连，押AAA</td>
                  <td class="reducedTxt">09:56:56</td>
                </tr>
              </table>      



 
        </div>
      </div>
            <div>
              <i class="iconfont icon-t"></i>
              <i class="iconfont icon-j"></i>
              <i class="iconfont icon-tongzhi"></i>
              <span style="font-size:14px;font-weight:900;color:#ffebc8">主降</span>
            </div>

            <style type="text/css">
/*  svg path.path1{fill:#333}
  svg path.path2{fill:red}
*/</style>
              <div>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-home"></use></svg>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-pen"></use></svg>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-library"></use></svg>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-qrcode"></use></svg>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-coin-dollar"></use></svg>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-location2"></use></svg>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-neutral"></use></svg>
                <svg class="labelIcon"><use xlink:href="img/icons.svg#icon-file-text2"></use></svg>
              </div>



<!---->
  </div>
  <!--Left Content End-->

  <!--Right Side Column-->
  <div class="col-xs-12 col-sm-2 col-md-4 rightColumn">
      <div class="panel panel-default">
          <h2 class="panel-title">标题栏</h2>
          <div class="panel-body">
            
          <div class="contactCard">
            <div class="avatar"><a href="#"><img src="img/avatar.png" alt=""></a></div>
            <div class="username">李小明</div>
            <div class="company">申万宏源</div>
          </div>
          <div class="cpCard">
            <div class="avatar"><a href="#"><img src="img/avatar.png" alt=""></a></div>
            <div class="cpname">申万宏源</div>
            <div class="city">上海</div>
          </div>
          <div class="clearfix"></div>
          <div class="bondCard">
            <div class="cr">C</div>
            <div class="issue">160010</div>
            <div class="shortName">16国开10</div>
          </div>

  <script>
function setup() {
  createCanvas(200, 100);
}

function draw() {
  background(102);
  
  push();
  translate(width*0.5, height*0.5);
  rotate(frameCount / 50.0);
  polygon(0, 0, 80, 20); 
  pop();
  
}

function polygon(x, y, radius, npoints) {
  var angle = TWO_PI / npoints;
  beginShape();
  for (var a = 0; a < TWO_PI; a += angle) {
    var sx = x + cos(a) * radius;
    var sy = y + sin(a) * radius;
    vertex(sx, sy);
  }
  endShape(CLOSE);
}
  </script>

          </div>
        </div>

  </div>
  <!--Right Side Column End-->


</div>


<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
       
<div class="form">
  <dl>
    <dt>代码：</dt>
    <dd>
                <div class="checkbox">
                    <label>
                      <input type="checkbox">有效报价
                    </label>
                </div>   
    </dd>
    <dt>简称：</dt>
    <dd><input type="text" class="form-control" /></dd>
  </dl>
  
  <div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-addon">.00</span>
</div>


  <div>
    <button class="btn btn-default">确定</button>
    <button class="btn btn-default">取消</button>  
  </div>
</div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<% include bottom %>