<% include top %>
<% include header %>
<% include nav %>



<!--////////////Main Content/////////////-->

<div class="row mainContent">
  <!--Left Content-->
  <div class="col-xs-12 col-sm-6 col-md-8 leftColumn">


  <!---->
      <div class="panel panel-default">
          <h2 class="panel-title">今日头寸</h2>
          <div class="panel-body">
            <div class="tabBarLv2">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">利率债</a></li>
                <li role="presentation"><a href="#">信用债</a></li>
                <li role="presentation"><a href="#">NCD</a></li>
              </ul>              
            </div>
            <br />
            <div class="tabBarLv31">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">关注一组</a></li>
                <li role="presentation"><a href="#">关注二组</a></li>
                <li role="presentation"><a href="#">关注三组</a></li>
              </ul>              
            </div>
            <br />
            <div class="tabBarLv32">
              <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">发行</a></li>
                <li role="presentation"><a href="#">公告</a></li>
                <li role="presentation"><a href="#">上市</a></li>
              </ul>              
            </div>
              <table class="table table-hover">
                <tr>
                  <th>方向</th>
                  <th>资产</th>
                  <th>期限</th>
                  <th>数量</th>
                  <th>价格</th>
                  <th>备注</th>
                  <th>更新时间</th>
                </tr>
                <tr>
                  <td><span class="label labelOfr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>1亿</td>
                  <td>加权</td>
                  <td></td>
                  <td>10:37:56</td>
                </tr>
                <tr>
                  <td><span class="label labelBid">收</span></td>
                  <td>线上</td>
                  <td>1天</td>
                  <td>2亿</td>
                  <td>--</td>
                  <td>押信用</td>
                  <td>10:20:09</td>
                </tr>
                <tr>
                  <td><span class="label labelBid">收</span></td>
                  <td>线上</td>
                  <td>14天</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>10:15:23</td>
                </tr>
                <tr>
                  <td><span class="label labelOfr">出</span></td>
                  <td>线上</td>
                  <td>7天</td>
                  <td>8000万</td>
                  <td>加权</td>
                  <td>限直连，押AAA</td>
                  <td>09:56:56</td>
                </tr>
              </table>          
        </div>
      </div>




<!---->
  </div>
  <!--Left Content End-->

  <!--Right Side Column-->
  <div class="col-xs-12 col-sm-2 col-md-4 rightColumn">



  </div>
  <!--Right Side Column End-->


</div>



<% include bottom %>